@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Sunflower:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Gowun Dodum", sans-serif;
  box-sizing: border-box;
}

.head {
  height: 250px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../image/background.png");
  background-position: center;
  background-size: cover;
}


.detailcard {
  display:flex;
  justify-content: row;
  text-align: left;
  padding : 50px 150px;
}
.detailcardBox{
  margin-left: 50px;
  flex-direction: column;
}
.detailcardimg {
  width : 300px;
  height : 450px;

}

.detailRating {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.detailTitle {
  font-size : 2rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.detailOverview{
  margin-bottom : 2rem;
}
.mainbtn{
  padding : 7px;
  background-color: beige;
  font-size : 1rem;
  border-radius: 5px;
  border : beige;
  cursor: pointer;
}

.card-text {
  margin-top: 0;
}

input[type="text"],
input[type="password"],
textarea {
  width: 84%;
  border: 1px solid #ccc;
  padding: 5px 10px;
}

.btn {
  padding: 5px 10px;
  color: #666;
  border: none;
  outline: none;
  display: inline-block;
}

.write-box > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  text-align: left;
}

.write-box {
  border: 1px solid #ddd;
  padding: 20px 10px;
  text-align: left;
}
.write-box label {
  width: 20%;
}
.write-box textarea {
  height: 100px;
}
